
.navbar {
  background-color: #ef7822;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-family: Arial;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  background: transparent;
  border: none;
  padding: 0;
  display: block;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: rgb(228, 60, 57);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
